beautifulsoup4==4.12.2
feedparser==6.0.11
parameterized==0.9.0
pydantic==1.8.2
PyGithub==2.6.1
pylint==3.3.7
pytest==6.0.0
python-dotenv==1.0.0
requests==2.25.1
ruff==0.11.12
sentencepiece==0.2.0
six==1.17.0
torch==2.2.2
transformers==4.40.2
